.content{
    min-height: 70vh;
}

.content-container {
    display: flex;
    justify-content: center;
}

.user-column {
    width: 25%;
}

.content-column {
    width: 65%;
    display:flex;
    flex-direction: column;
}

@media only screen and (max-width:999px) {
    .user-column {
        display: none;
    }
    .content-column {
        width: 95%;
    }
}
