.header {
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #161b22;
}

.logo {
    padding:10px;
}

.logo-img {
    width: 300px;
}

@media only screen and (max-width:600px) {
    .header {
        justify-content: center;
    }
}
