.search-container {
    display: flex;
    margin: 20px 0px;
}

@media only screen and (max-width:500px) {
    .search-container {
        flex-direction: column;
    }

    .select-container {
        display:flex;
    }

    .search-select {
        flex:1;
    }

    .search-bar {
        margin:0px 10px 15px 10px;
    }
}

.search-bar {
    border: 1px solid #30363d;
    background-color: transparent;
    border-radius: 7px;
    padding: 8px;
    outline:none;
    color:#8b949e;
    flex:1;
}

.search-select {
    background-color: #21262d;
    color:rgb(194, 194, 194);
    font-weight: bold;
    border: 1px solid #30363d;
    outline: none;
    border-radius: 7px;
    padding: 8px;
    margin:0px 10px;
}

.search-select:hover {
    border: 1px solid rgb(194, 194, 194);
    cursor:pointer;
}