.user-avatar {
    margin-bottom: 20px;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icon {
    width: 20px;
    margin-right: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    padding:20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    font-size:13px;
}

.name-info {
    font-weight: bold;
    font-size:22px;
    color:rgb(202, 202, 202);
}

.login-info {
    margin-top:5px;
    font-weight: lighter;
    font-size:18px;
}

.button-link {
    margin-top:20px;
    display: flex;
    justify-content: center;
    background-color: #21262d;
    padding:10px;
    border-radius: 8px;
    color:rgb(202, 202, 202);
    font-weight: bold;
    text-decoration: none;
    border:1px solid #373b42;
    transition: all 0.2s ease-in-out;
}

.button-link:hover {
    background-color: transparent;
    color:rgb(202, 202, 202);
    border:1px solid rgb(202, 202, 202);
}

.bio-info {
    font-weight: lighter;
    margin-top:20px;
    color:rgb(202, 202, 202);
    font-size:16px;
}

.follow-info {
    margin-top:20px;
    display: flex;
    align-items: center;
}

.follow-spans {
    display: flex;
    align-items: center;
}

.loading-avatar {
    background-color:rgba(128, 128, 128, 0.345);
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    animation-name: load;
    animation-duration: 0.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loading-span {
    height: 20px;
    width: 200px;
    background-color:rgba(128, 128, 128, 0.345);
    border-radius: 5px;
    animation-name: load;
    animation-duration: 0.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loading-span-small {
    height: 20px;
    width: 30px;
    margin:0px 2px;
    background-color:rgba(128, 128, 128, 0.345);
    border-radius: 5px;
    animation-name: load;
    animation-duration: 0.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.company-info {
    margin-top:20px;
    display: flex;
    align-items: center;
}

.location-info {
    margin-top:10px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width:1070px) {
    .loading-span {
        width: 150px;
    }
    .loading-span-small {
        width: 20px;
    }
}

@keyframes load {
    0% {
        opacity:0.3
    }
    50% {
        opacity:0.6
    }
    100% {
        opacity: 0.3;
    }
}
    

