
.navigation-bar {
    display:flex;
    margin:20px 0px 0px 0px;
    border-bottom: 1px solid #21262d;;
    align-items: center;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:7px 11px;
    margin:7px;
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: all 0.2s linear;
}

.nav-button:hover {
    background-color: #21262d;
    border-radius:8px;
    cursor:pointer;
}

.nav-icon {
    margin-right:7px;
    font-size:23px;
}

.nav-span {
    font-size:16px;
}

.nav-span-circle {
    margin-left:5px;
    border-radius: 50%;
    background-color: rgb(79, 79, 79);
    color:white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:450px) {
    .nav-span {
        font-size:12px;
    }
}

@media only screen and (max-width:370px) {
    .nav-span {
        font-size:11px;
    }
}

@media only screen and (max-width:490px) {
    .nav-span-circle {
        display:none;
    }
}

.marked {
    height: 2px;
    width: 100%;
    background-color: #76b6fb;
}